:root {
  --primary-dark: rgb(9, 13, 90);
  --primary: rgb(43, 48, 150);

  --s1: 0.6rem;
  --s2: 1rem;
  --s3: 1.5rem;
  --s4: 3.5rem;
}
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 0.5rem;
}

li > a {
  text-decoration: none;
  color: white;
}

li > a:hover {
  color: yellow;
}

.astronomy-picture {
  background-color: white;
  margin: var(--s4) var(--s2);
  padding: var(--s1) var(--s2);
  border-radius: var(--s1);
}

.astronomy-picture > h2 {
  padding: var(--s2) 0;
}

.astronomy-picture img {
  max-height: 400px;
  max-width: 50%;
  object-fit: cover;
}

article {
  display: flex;
}

article > div {
  padding: var(--s2);
}

article > div > p {
  padding-top: var(--s1);
}

/*#main-picture {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "date title"
    "img description";
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

#main-picture > h3 {
  grid-area: date;
}

#main-picture > h4 {
  grid-area: title;
}

#main-picture > div {
  grid-area: img;
  justify-self: center;
}

#main-picture > div > img {
  max-width: 50%;
  max-height: 400px;
}

#main-picture > p {
  grid-area: description;
  justify-self: start;
  padding: 0 25px;
}*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

header {
  background-color: var(--primary-dark);
  color: white;
  padding: 0.8rem;
}

.pictures-container {
  display: flex;
  flex-wrap: wrap;
}

.pictures-container > div {
  flex: 0 0 25%;
  overflow: hidden;
}

.pictures-container > div > img {
  object-fit: cover;

  width: 100%;
  height: 100%;
}
