:root {
  --primary-dark: rgb(9, 13, 90);
  --primary: rgb(43, 48, 150);

  --s1: 0.6rem;
  --s2: 1rem;
  --s3: 1.5rem;
  --s4: 3.5rem;
}
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.astronomy-picture {
  background-color: white;
  margin: var(--s4) var(--s2);
  padding: var(--s1) var(--s2);
  border-radius: var(--s1);
}

#main-picture {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "date title"
    "img description";
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

#main-picture > h3 {
  grid-area: date;
}

#main-picture > h4 {
  grid-area: title;
}

#main-picture > div {
  grid-area: img;
  justify-self: center;
}

#main-picture > div > img {
  max-width: 100%;
}

#main-picture > p {
  grid-area: description;
  justify-self: start;
  padding: 0 25px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

header {
  background-color: var(--primary-dark);
  color: white;
  padding: 0.8rem;
}

.pictures-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pictures-container > div > img {
  max-height: 600px;
  overflow: hidden;
  object-fit: fill;
}
